body{   
  background-color: #333;
}


nav.container
{
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
  	padding: 10px 5px;
	  text-align: center;
    border: 1px;
}

nav.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav.topBotomBordersOut a:before, nav.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

nav.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

nav.topBotomBordersOut a:hover:before, nav.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}



h1 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 48px; font-weight: 300; line-height: 58px; margin: 0 0 10px; }

h2 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 32px; font-weight: 300; line-height: 52px; margin: 0 0 10px; }

h3 { color: #ffffff; font-family: 'Lato', sans-serif; font-size: 24px; font-weight: 300; line-height: 52px; margin: 0 0 10px; }


p { color: #adb7bd; font-family: 'Lucida Sans', Arial, sans-serif; font-size: 16px; line-height: 26px; text-indent: 30px; margin: 0; }




@media only screen and (min-width: 640px) {
  .view {
    width: 320px;
    height: 233px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff no-repeat center center
  }

  .view .mask, .view .content {
    width: 320px;
    height: 233px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
}


@media only screen and (max-width: 640px) {
  .view {
    width: 640px;
    height: 466px;
    margin: 10px;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff no-repeat center center
  }


  .view .mask, .view .content {
    width: 640px;
    height: 466px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
}


  .view img {
    display: block;
    position: relative
  }
  .view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
  }
  .view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
  }
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
  }
  .view a.info:hover {
    box-shadow: 0 0 5px #000
  }

  .view-tenth img { 
    transform: scaleY(1);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; 
  }
  .view-tenth .mask { 
      background-color: rgba(255, 231, 179, 0.3); 
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;     opacity: 0;
  }	
  .view-tenth h2{
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: transparent;
      margin: 20px 40px 0px 40px;
      transform: scale(0);
      color: #333;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; 
      opacity: 0;
  }
  .view-tenth p {
      color: #333;
      opacity: 0;
      transform: scale(0);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }
  .view-tenth a.info { 
      opacity: 0;
      transform: scale(0);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear; }

  .view-tenth:hover img { 
    transform: scale(10);
      opacity: 0;
  }
  .view-tenth:hover .mask { 
    opacity: 1;
  }																			 
  .view-tenth:hover h2,
  .view-tenth:hover p,
  .view-tenth:hover a.info{ 
      transform: scale(1);
      opacity: 1;
  }

